<div class="h-nav max-h-nav flex items-center justify-between">
  <img src="assets/brand.png" alt="logo" class="h-10" />
  <ul class="flex gap-4">
    <li class="p-2 flex items-center gap-2 text-gray-600">
      Partners
      <span class="material-symbols-outlined text-gray-600 text-icon">
        keyboard_arrow_down
      </span>
    </li>
    <li class="p-2 flex items-center gap-2 text-gray-600">
      Resources
      <span class="material-symbols-outlined text-gray-600 text-icon">
        keyboard_arrow_down
      </span>
    </li>
    <li class="p-2 flex items-center gap-2 text-gray-600">Contact Us</li>
    <li class="p-2 flex items-center gap-2 text-primary">Login</li>
  </ul>
</div>