<div class="h-nav max-h-nav flex items-center justify-between">
  <img src="assets/brand.png" alt="logo" class="h-10" />
  <ul class="flex gap-4">
    <app-nav-link>
      <span>Partners</span>
      <i class="material-symbols-outlined text-gray-600 text-icon">
        keyboard_arrow_down
      </i>
    </app-nav-link>

    <app-nav-link>
      <span>Resources</span>
      <i class="material-symbols-outlined text-gray-600 text-icon">
        keyboard_arrow_down
      </i>
    </app-nav-link>

    <app-nav-link>
      <span>Resources</span>
    </app-nav-link>

    <app-nav-link>
      <span class="text-primary">Login</span>
    </app-nav-link>
  </ul>
</div>
