<nav class="border-b-gray-100 border-b">
  <app-content-wrapper>
    <app-navigation-bar></app-navigation-bar>
  </app-content-wrapper>
</nav>
<header class="border-b-gray-100 border-b">
  <app-content-wrapper>
    <div class="py-4 flex items-center justify-between">
      <ul class="flex gap-4">
        <li class="p-2 flex items-center gap-2 text-gray-600">Home</li>
        <li class="p-2 flex items-center gap-2 text-gray-600">
          Why ZIWO
          <span class="material-symbols-outlined text-gray-600 text-icon">
            keyboard_arrow_down
          </span>
        </li>
        <li class="p-2 flex items-center gap-2 text-gray-600">
          Products
          <span class="material-symbols-outlined text-gray-600 text-icon">
            keyboard_arrow_down
          </span>
        </li>
        <li class="p-2 flex items-center gap-2 text-gray-600">
          Solutions
          <span class="material-symbols-outlined text-gray-600 text-icon">
            keyboard_arrow_down
          </span>
        </li>
        <li class="p-2 flex items-center gap-2 text-gray-600">Integrations</li>
        <li class="p-2 flex items-center gap-2 text-gray-600">Pricing</li>
      </ul>
      <button
        class="bg-primary text-white px-6 py-3 shadow-btn rounded-[136px]"
      >
        Try for free
      </button>
    </div>
  </app-content-wrapper>
</header>
<main>
  <app-content-wrapper>
    <section class="flex py-12">
      <div class="flex-[1_1_60%] flex flex-col gap-14 pr-56">
        <div class="flex flex-col gap-6">
          <h1 class="text-5xl text-gray-700 font-bold">Register Now</h1>
          <h6 class="text-xl text-gray-600 font-normal">
            Try for free, No credit card required!
          </h6>
        </div>
        <form class="flex flex-col gap-6">
          <div class="flex gap-8">
            <div class="flex flex-col flex-grow gap-1">
              <label class="text-gray-700 text-sm font-semibold"
                >First name</label
              >
              <input
                class="border border-gray-300 rounded-lg px-input-14 py-input-10"
                placeholder="First name"
              />
            </div>
            <div class="flex flex-col flex-grow gap-1">
              <label class="text-gray-700 text-sm font-semibold"
                >Last name</label
              >
              <input
                class="border border-gray-300 rounded-lg px-input-14 py-input-10"
                placeholder="Last name"
              />
            </div>
          </div>

          <div class="flex gap-8">
            <div class="flex flex-col flex-grow gap-1">
              <label class="text-gray-700 text-sm font-semibold">Company</label>
              <input
                class="border border-gray-300 rounded-lg px-input-14 py-input-10"
                placeholder="Company"
              />
            </div>
            <div class="flex flex-col flex-grow gap-1">
              <label class="text-gray-700 text-sm font-semibold"
                >Position</label
              >
              <input
                class="border border-gray-300 rounded-lg px-input-14 py-input-10"
                placeholder="Position"
              />
            </div>
          </div>

          <div class="flex flex-col flex-grow gap-1">
            <label class="text-gray-700 text-sm font-semibold">Email</label>
            <input
              class="border border-gray-300 rounded-lg px-input-14 py-input-10"
              placeholder="you@company.com"
            />
          </div>

          <div class="flex flex-col flex-grow gap-1">
            <label class="text-gray-700 text-sm font-semibold">Phone</label>
            <input
              class="border border-gray-300 rounded-lg px-input-14 py-input-10"
              placeholder="+1 (555) 000-0000"
            />
          </div>

          <div class="flex flex-grow justify-end">
            <button
              class="bg-primary text-white px-6 py-3 shadow-btn rounded-[136px]"
            >
              Try for free
            </button>
          </div>
        </form>
      </div>
      <div class="flex-[1_1_40%]">
        <div
          class="bg-white rounded-3xl w-feature max-w-feature mx-auto shadow-feature flex flex-col justify-center gap-20 py-20 px-8"
        >
          <div class="flex flex-col items-center justify-center gap-14">
            <img src="assets/feature-image-1.png" alt="logo" />
            <div class="flex flex-col items-center justify-center gap-4">
              <h6 class="text-xl text-gray-700 font-semibold">Crystal Clear Quality Calls</h6>
              <p class="text-gray-600 font-normal text-center px-8">
                Voice Services provided only by local telecom operators &
                premium international carriers to get your phone numbers in
                every market you operate.
              </p>
            </div>
          </div>
          <div class="flex flex-row items-center justify-center gap-4">
            <div class="bg-primary h-3 w-3 rounded-full"></div>
            <div class="bg-gray-300 h-3 w-3 rounded-full"></div>
            <div class="bg-gray-300 h-3 w-3 rounded-full"></div>
          </div>
        </div>
      </div>
    </section>
  </app-content-wrapper>
</main>
