<div class="py-4 flex items-center justify-between">
  <ul class="flex gap-4">
    <li class="p-2 flex items-center gap-2 text-gray-600">Home</li>
    <li class="p-2 flex items-center gap-2 text-gray-600">
      Why ZIWO
      <span class="material-symbols-outlined text-gray-600 text-icon">
        keyboard_arrow_down
      </span>
    </li>
    <li class="p-2 flex items-center gap-2 text-gray-600">
      Products
      <span class="material-symbols-outlined text-gray-600 text-icon">
        keyboard_arrow_down
      </span>
    </li>
    <li class="p-2 flex items-center gap-2 text-gray-600">
      Solutions
      <span class="material-symbols-outlined text-gray-600 text-icon">
        keyboard_arrow_down
      </span>
    </li>
    <li class="p-2 flex items-center gap-2 text-gray-600">Integrations</li>
    <li class="p-2 flex items-center gap-2 text-gray-600">Pricing</li>
  </ul>
  <button class="bg-primary text-white px-6 py-3 shadow-btn rounded-[136px]">
    Try for free
  </button>
</div>
