<div class="py-4 flex items-center justify-between">
  <ul class="flex gap-4">
    <app-nav-link>Home</app-nav-link>
    <app-nav-link>
      Why ZIWO
      <span class="material-symbols-outlined text-gray-600 text-icon">
        keyboard_arrow_down
      </span>
    </app-nav-link>
    <app-nav-link>
      Products
      <span class="material-symbols-outlined text-gray-600 text-icon">
        keyboard_arrow_down
      </span>
    </app-nav-link>
    <app-nav-link>
      Solutions
      <span class="material-symbols-outlined text-gray-600 text-icon">
        keyboard_arrow_down
      </span>
    </app-nav-link>
    <app-nav-link>Integrations</app-nav-link>
    <app-nav-link>Pricing</app-nav-link>
  </ul>
  <app-button></app-button>
</div>
